* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #54586f;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-section {


  /* align-items: center;
        justify-content: center;
        justify-content: space-around; */
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.message,
.form {
  display: flex;
  width: 50%;
  height: 100%;
  transition: .3s;
}

.login-section.login .message {
  left: 50%;
}

.login-section.login .form {
  margin-left: 0%;
}

.message {
  left: 0%;
  position: absolute;
  background: #fd4263;
  color: #fff;
  top: 0;
}

.form {
  margin-left: 50%;

  background: rgb(247, 248, 249);

}


.login-section.login .singup-message {
  display: none;
}

.login-section.login .singup-form {
  display: none;
}

.login-section.signup .login-message {
  display: none;
}

.login-section.signup .login-form {
  display: none;
}

button {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
}

input {
  outline: none;
  border: none;
}

.input-box {
  border: 1px solid black;
  padding: 8px 20px;
}

.transparent {
  background: transparent;
  margin: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  justify-content: center;
  border-radius: 50px;
  border-color: white;
  background-color: #fd4263;
}

.green {
  background: rgb(14, 140, 28);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.mb {
  margin-bottom: 10px;
}


.wrapper .button {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 15px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267b2;
}

.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}

.wrapper .button:nth-child(3) span {
  color: #e1306c;
}

.wrapper .button:nth-child(4) span {
  color: #333;
}

.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

.wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

#Signin-button {
  margin: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  justify-content: center;
  border-radius: 50px;
  border-color: white;
  background-color: #fd4263;
}

#Signup-button {
  margin: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  justify-content: center;
  border-radius: 50px;
  border-color: white;
  background-color: #fd4263;
}

#Email {
  width: 362px;
  height: 47px;
  border-radius: 5px;
  background-color: rgb(212, 210, 210);
  border-color: transparent;
}

#Password {
  border-color: transparent;
  margin-top: 20px;
  width: 362px;
  height: 47px;
  border-radius: 5px;
  background-color: rgb(212, 210, 210);
}

h1 {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}